<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="main" style="flex-direction: column;">
    <span class="city">Saint-Benoit </span>
    <span class="date">10h50</span>

   <div class="logo">
      <img src="../../assets/icon/RUN.without-background.png" style="border-radius: 50%" alt="">
    </div>
 
      <span class="description">Nuagueux </span>
      <span class="temperature">25°C</span>
  </div>

  <ion-grid>
    <!-- 7 jours -->
    <ion-row>
      <ion-col class="day">Tue</ion-col>
      <ion-col class="day">Wed</ion-col>
      <ion-col class="day">Thu</ion-col>
      <ion-col class="day">Fri</ion-col>
      <ion-col class="day">Sat</ion-col>
      <ion-col class="day">Sun</ion-col>
      <ion-col class="day">Mon</ion-col>

    </ion-row>

    <!--Prévision météorologique-->

    <ion-row>
      <ion-col class="precipition">60%</ion-col>
      <ion-col class="precipition">-</ion-col>
      <ion-col class="precipition">40%</ion-col>
      <ion-col class="precipition">40%</ion-col>
      <ion-col class="precipition">-</ion-col>
      <ion-col class="precipition">-</ion-col>
      <ion-col class="precipition">-</ion-col>
    </ion-row>

    <!-- Icone météo -->

    <ion-row>
      <ion-col class="icon-sm"><img src="../../assets/icon/nuage-meteo.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/icon/nuage-meteo.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/icon/nuage-meteo.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/icon/nuage-meteo.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/icon/nuage-meteo.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/icon/nuage-meteo.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/icon/nuage-meteo.png"></ion-col>
    </ion-row>

    <!-- Max Temperature -->

    <ion-row>
      <ion-col class="hi-sm">29°</ion-col>
      <ion-col class="hi-sm">27°</ion-col>
      <ion-col class="hi-sm">30°</ion-col>
      <ion-col class="hi-sm">30°</ion-col>
      <ion-col class="hi-sm">28°</ion-col>
      <ion-col class="hi-sm">29°</ion-col>
      <ion-col class="hi-sm">25°</ion-col>
    </ion-row>

    <!-- Min Temperature -->

    <ion-row>
      <ion-col class="lo-sm">24°</ion-col>
      <ion-col class="lo-sm">25°</ion-col>
      <ion-col class="lo-sm">25°</ion-col>
      <ion-col class="lo-sm">25°</ion-col>
      <ion-col class="lo-sm">22°</ion-col>
      <ion-col class="lo-sm">25°</ion-col>
      <ion-col class="lo-sm">20°</ion-col>
    </ion-row>

  </ion-grid>
</ion-content>